<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" >Operaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="menu-header-bg"></div>
  <app-headers></app-headers>
<div *ngIf="data[4] === 'Activa'">
  <form style="width: 90%; margin: 1em auto;" #formulario01="ngForm" (ngSubmit)="consultar();formulario01.reset()">
    <ion-list>
      <ion-item>
      <ion-label position="floating">Activos Financieros : </ion-label>
      <ion-input type="text" name="activos" [(ngModel)]="consulta.activos" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valor Inicio : </ion-label>
        <ion-input type="text" name="activos" [(ngModel)]="consulta.valini" required></ion-input>
        </ion-item>
      <ion-item>
      <ion-label position="floating">Marco Horario : </ion-label>
      <ion-select (ionChange)="onSelectChange2($event)" [(ngModel)]="consulta.tiempo" name="tiempo" multiple="false" required>
      <ion-select-option *ngFor="let tiem1 of tiempo" value="{{tiem1.id}}-{{tiem1.valor}}">{{tiem1.tiempo}}</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Tendencia : </ion-label>
      <ion-select (ionChange)="onSelectChange($event)" name="data1" [(ngModel)]="consulta.data1" id="tenden" multiple="false"  required>
      <ion-select-option *ngFor="let caraac1 of ten" value="{{caraac1.id}}">{{caraac1.texto}}</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Localización : </ion-label>
      <ion-select (ionChange)="onSelectChange1($event)" [(ngModel)]="consulta.data3"  name="data3" multiple="false">
      <ion-select-option *ngFor="let caraac2 of loc1" value="{{caraac2.id}}">{{caraac2.texto}}</ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Contexto : </ion-label>
      <ion-select  name="data4" [(ngModel)]="consulta.data4" multiple="false">
      <ion-select-option *ngFor="let cara1 of cont1" value="{{cara1.id}}">{{cara1.texto}}</ion-select-option>
      </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-button style="width: 100%;" expand="full" type="submit" name="envio" [disabled]="formulario01.invalid">Crear Operacion</ion-button>
    </ion-item>
  </form>
</div>
<div *ngIf="data[3] === 'pendiente'">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Para poder realizar una Consulta la cuenta debe estar activa</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Ingresa el codigo que se envio a to correo en el espacio de activacion
    </ion-card-content>
  </ion-card>
</div>
<div *ngIf="data[4] === 'inactivo'">wong Banten
  <app-nousuario></app-nousuario>
</div>
<app-menu-bajo></app-menu-bajo>
</ion-content>

